body {
    width: 300px;
    font-family: Arial, sans-serif;
}
  
button {
    margin-top: 10px;
}
  
#tasks {
    margin-top: 20px;
}

#currentTask {
    position: relative;
    margin-top: 20px;
    padding: 10px;
    background-color: #e8e8e8; /* Light gray background */
    border: 1px solid #c0c0c0; /* Gray border */
    border-radius: 5px; /* Rounded corners */
    font-size: 14px;
    color: #333;
    overflow: hidden;
  }
  
  #pulse {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: #e8e8e8; /* Light gray */
    border-radius: 50%;
  }
  
  .pulse-active {
    background-color: #90EE90; /* Light green */
    animation: pulse 2s infinite;
  }
  
  @keyframes pulse {
    0% {
      transform: translateY(-50%) scale(0.95);
      opacity: 0.7;
    }
    70% {
      transform: translateY(-50%) scale(1);
      opacity: 0.4;
    }
    100% {
      transform: translateY(-50%) scale(0.95);
      opacity: 0.7;
    }
  }
  
.hidden {
    display: none;
}

  