body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    padding: 20px;
}

#taskArea {
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;
}

button {
    margin: 5px 0;
}

.input {
    margin-left: 10px;
    width: 180px;
}

#currentTask {
    margin: 10px 0;
    width: 100%;
    text-align: center;
}

#tasks {
    width: 100%;
}

#pulse {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    background-color: #e8e8e8;
    border-radius: 50%;
}

#pulse.pulse-active {
    background-color: #90EE90;
    /* Light green */
    animation: pulse 2s infinite;
}

#pulse.pulse-inactive {
    background-color: #c1c1c1;
    /* Light green */
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        opacity: 0.7;
    }

    70% {
        transform: scale(1);
        opacity: 0.4;
    }

    100% {
        transform: scale(0.95);
        opacity: 0.7;
    }
}

.hidden {
    display: none;
}
